allow system_server pocket_service:service_manager { add find };

# Freeform
add_service(system_server, lmo_freeform_service);

# App lock
add_service(system_server, app_lock_service);
